header{
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    align-items: center;
    width: 1830px;
    margin: 20px;
}

header img {
    width: 450px;
    height: auto;
}

header nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 90px;
}

nav {
    background-color: #006400;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    flex-wrap: wrap;
}

nav a {
color: #FAFDEA;
display: inline;
padding: 5px;
text-decoration: none;
font-family: 'rubik', Georgia;
font-size: 300%;
}

h1 {
    color: #315E5B;
    text-align: center;
    position: absolute;
    font-size: 1000%;
    top: -80px;
    left: 300px;
    font-family: 'Roboto', 'Ubuntu', sans-serif;
    font-style:inherit;
}

article{
    position:absolute;
    width:35rem;
    height:auto;
    top:250px;
    bottom:125px;
}

article p{position:absolute;
    color: #006400;
    font-size: 300%;
    top: 100px;
    left: 90px;
    background: radial-gradient(#FAFDEA,#bac48c);
    font-family:'Afacad Flux','Roboto', sans-serif;
    width: 60rem;

}

article img{
    position:absolute;
    top: 40px;
    left: 1200px;}

.hero {
    position:relative;
    display:block;
    width: 100%;
}

    .hero img{
         width: 100%;
         height: auto;
        }

.history{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    height: 600px;
}


section img{
width: auto;
height: 400px;
align-self: center;
}

h2 {
    color: #315E5B;
    font-size: 75px;
    font-family:'Roboto', 'Ubuntu', sans-serif; 
    text-align: center;
    grid-column: 1/4;
}
p {
    color: #89BDA5;
    font-size: 40px;
    font-family: 'Ubuntu', 'Roboto', sans-serif;
    text-align: justify;
}

p {
    color: #89BDA5;
    font-size: 40px;
    font-family: 'Ubuntu', 'Roboto', sans-serif;
    text-align: justify;
}

.adventure{
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr;
    max-width: 50%;
    height: 1400px;
    align-items: center;
    justify-items: center;
}

h3{
    color: #315E5B;
    font-size: 75px;
    font-family:'Roboto', 'Ubuntu', sans-serif; 
    text-align: center;
    grid-column: 1/4;
}

section image{
    display: flex;
    flex-wrap: wrap;
    max-width: 100px;
    height: auto;
}

figcaption{
    color: #89BDA5;
    font-size: 40px;
    font-family: 'Ubuntu', 'Roboto', sans-serif;
    text-align: center;
}


footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1850px;
    margin-top: 1em;
    border-top: 1px solid #006400;
    background-color: #FAFDEA;
    font-family: 'Ubuntu','Rubik',serif;    
}

.sociallinks{
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    padding: #fafdea;
    margin: #FAFDEA;
    background-color: #FAFDEA;
}

footer img{
    width: 100px;
    height: auto;
    background-color: #FAFDEA;
    color: #FAFDEA;
    align-self: flex-end;
    justify-self: center;
    padding: #fafdea;
}

p {
    color: #89BDA5;
    display: flex;
    font-size: 50px;
    font-family: 'Ubuntu', 'Roboto', sans-serif;
    align-self: center;
    justify-self: center;
}

:root{
    --background-color: #FAFDEA;
    --heading-background-color: #FAFDEA;
    --heading-text-color: #315E5B ;
    --heading-font-family: 'Roboto', 'Rubik', sans-serif;
    --body-text: 'Ubuntu', 'Afacad Flux', sans-serif;
    --base-font-size: 40px;
    --h1-color: #315E5B;
    --h2-color: #89BDA5;
    --h3-color:#4A4D59;
    --padding: 1rem;
    --width: 30px;
    --footer-color: #fafdea;
    --padding-color: #FAFDEA;
}

body {
    max-width: 1850px;
    margin: 0 auto; 
    background-color: #FAFDEA;
  }