.callout {
	max-width: 400px;
    margin: 1rem;
    border: 1px solid rgba(0,0,0,0.1);
    background-color: #247;
    padding: 1rem;
    color: white;
}

.callout img {
	float: right;
    margin: 0 0 1rem 1rem;
    border: 1px solid white;
    padding: 1px;
    width: 125px;
    height: auto;
    background-color: grey;
}

blockquote {
	margin: 0;
}

cite {
	display: block;
    border-top: 1px dotted white;
    padding-top: 2px;
    text-align: right;
    font-size: smaller;
}